.hero{
    width: 100%;
    .weather-top-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 150px;
            margin: 30px 0;
        }
        .temprature{
            color: #fff;
            font-size: 80px;
            line-height: 1;
        }
        .location{
            color: #fff;
            font-size: 40px;
        }
    }
    .weather-data{
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        .col{
            display: flex;
            align-items: flex-start;
            gap: 12px;
            font-size: 22px;
            span{
                display: block;
                font-size: 16px;
            }
            img{
                width: 26px;
                margin-top: 10px;
            }
        }
       
    }
}