.search-wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
    input{
        height: 50px;
        border: none;
        outline: none;
        border-radius: 40px;
        padding: 25px;
        color: #626262;
        background-color: #ebfffc;
        font-size: 18px;
        @media(max-width:370px){
            padding: 18px;
        }
        @media(max-width:340px){
            padding: 10px;
        }
        @media(max-width:320px){
            padding: 2px;
        }
    }
    img{
        width: 50px;
        padding: 15px;
        border-radius: 50%;
        background-color: #ebfffc;
        cursor: pointer;
        @media(max-width:320px){
            width: 35px;
            padding: 10px;
        }
        @media(max-width:290px){
            width: 30px;
            padding: 7px;
        }
    }
}